.container {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    gap: 3px;
}

.container div {  
    height: 100%;
    width: 100%;
}

.container div > div{
    width: 100%;
    border: 1px solid;
    margin: 1px 1px;   
}
